
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/
*.Rproj      

.Rcheck/
*.tar.gz  

*.so
*.dylib
*.exe

*.a
*.lib
*.dll.a
*.def

*.o
*.obj
*.mod

*.d
*.dep
*.pch

build/
modules/

results/        
*.log
*.out

.DS_Store      
Thumbs.db        
